/* gaming site styles
 * author: David L
 * Date: 5th Aug 2015
 */

/* reset browser default margins/padding */
* {
	margin: 0;
	padding: 0;
}

/* set default text and background colour */
body {
	background: rgb(16, 46, 86);
	color: white;
	font-family: Helvetica, Verdana, sans-serif;
}

/* make the container full width and have a minimum width */
#container {
	width: 100%;
	min-width: 800px;
}
/* TODO: set up break points for mobile devices */
 
/* set up header with background image */
header {
	background: url('images/hero.jpg') no-repeat 50% 0;
	background-size: cover;
	height: 0;
	padding-bottom: 50%;
}
#about header {
	background: none;
}

/* Set up the main nav */

#mainnav {
	display: block;
	clear: both;
}

#mainnav ul {
	width: 780px;
	margin: 10px auto;
	list-style: none;
}
#mainnav ul li {
	float: left;
	width: 20%;
	text-align: center;
}
#mainnav ul li a {
	text-decoration: none;
	color: white;
	padding: 10px;
	background: url('images/navbg.png') no-repeat 0 0;
	background-size: 100% 110px;
	display: block;
	margin-top: 20px;
	
}
#mainnav ul li a:hover {
	background-position: 0 -73px;
	color: black;
}
/* change the home graphic */
#mainnav ul li.home a {
	background: url('images/logo.png') no-repeat 50% 0;
	padding: 51px 10px;
	margin-top: 0;	
}
#mainnav ul li.home span {
	display: none;
}

/* Featured area */
.featured {
	clear: both;
	width: 100%;
	position: relative;
}

.featured h1 {
	font-size: 40px;
	font-style: italic;
	font-weight: bold;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
}

.featured .video {
	border: 5px solid white;
	background: white;
	width: 280px;
	height: 200px;
	overflow: hidden;
	position: absolute;
}

.featured .video.videoLeft {
	left: 0;
	top: 0;
}
.featured .video.videoRight {
	right: 0;
	top: 0;
}

.featured .video .caption {
	display: block;
	clear: both;
	text-align: center;
	color: black;
	text-transform: uppercase;
	padding: 10px;
}

/* tiles */
.tile {
	width: 80px;
	height: 140px;
	float: left;
	display: block;
	margin: 10px;
	overflow: hidden;
	
}

.tile .image-holder {
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	border-radius: 8px;
	width: 80px;
	height: 80px;
	overflow: hidden;
	background: white;
	
}
.tile img {
	height: 100%;
	margin: 0 auto;
	display: block;
}
	
.tile strong {
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
	display: block;
}

.tiles-container {
	padding: 0 300px;
	width: 600px;
	margin: 0 auto;
}

/* explore box */
.exploreBox {
	width: 100%;
	height: 400px;
	border-top: 8px solid #99EEFF;
	border-bottom: 8px solid #99EEFF;
	clear: both;
	background: url('images/explore.jpg') no-repeat	50% -40px;
}
.exploreBox a {
font-size: 40px;
font-weight: bold;
color: #fc0;
text-decoration: none;
text-transform: uppercase;	
text-align: center;
display: block;
margin-top: 180px;
text-shadow: 1px 1px 10px #000000;
background: url('images/arrow-right.png') no-repeat 80% 10%;
}


.pageEnd {
	width: 100%;
	padding: 50px 0;
}

.pageEnd a {
	display: block;
	clear: both;
	text-align: center;
	color: #fc0;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

.pageEnd .button {
	display: block;
	padding: 10px 20px;
	background: #fc0;
	color: black;
	font-size: 25px;
	text-decoration: none;
	clear:both;
	margin: 30px auto;
	width: 180px;
}


.fullsize {
	position: absolute;
	top: -400px;
	left: 0;
	width: 100%;
	display: none;
}
.fullsize img {
	height: 400px;
	display: block;
	margin: 0 auto;
}
.tile a:hover .fullsize {
	display: block;
}

/* profile page styles */
#profile header {
	background-image: url('images/profile-bg.jpg');
}

#profile .col2 {
	height: 538px;
	width: 50%;

	float: left;
}

#profile .secondary img {
	height: 100%;
}

.centered {
	width: 80%;
	max-width: 980px;
	min-width: 600px;
	margin: 0 auto;
}

.content {
	padding: 20px;
}

.videothumb {
	width: 280px;
	height: 140px;
	border: 2px solid white;
	position: relative;
	overflow: hidden;

}
.videothumb img { 
	width: 280px;
}
.videothumb .overlay {
	position: absolute;
	top: 39px;
	left: 109px;
	width: auto;
	opacity: 0.7;
}
.videothumb:hover .overlay {
	opacity:1;
}

#profile h1, #profile h2 {
	
}
